/*Here it will go main classes that can be reused along the application development*/

/*General*/

body {
    background-image: url('../assets/background.jpg') !important;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, span, p {
    line-height: 1.5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input, textarea {
    background-color: rgba(225,225,225,0.1) !important;
    border: 0px solid rgba(255, 250, 250, 0) !important;
}

.form-check-input {
    color: red !important;
}

.form-control:focus, .form-check-input:focus {
    box-shadow: none !important;
    border-color: none;
}

.delete-btn:hover, .delete-btn:active {
    background-color: rgba(255, 0, 0, 0.744) !important;
    color: white !important;
}
.complete-btn:hover, .complete-btn:active {
    background-color: rgba(32, 227, 26, 0.744) !important;
    color: white !important;
}

.card-number {
    color: rgba(255,255,255,0.09);
    font-size: 3rem;
    z-index: -1;
    position: absolute;
    top: -0.5rem;
    right: 2rem;
}

/*SIDE BAR*/
.side_bar {
    background-color: rgba(155, 66, 15, 0.598);
    /*background-image: url('./side_header.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;*/
}
.sidebar-options {
    cursor: pointer;
    color: white;
    transform: color 0.2s;
}
.sidebar-options:hover {
    color: rgba(222, 222, 222, 0.741) !important;
}
.sidebar-button {
    cursor: pointer;
    transition: color 0.2s;
    color: white;
}
.sidebar-button:hover {
    color: rgba(255, 255, 255, 0.741);
}
.slide-enter-active {
    transition: all .5s;
}
.slide-leave-active {
    transition: all .5s cubic-bezier(0.2, 0.2, 0.2, 0.2);
}
.slide-enter, .slide-leave-to
{
    transform: translateX(-300px);
    opacity: 0;
}

/*HEADER*/

.header-button {
    cursor: pointer;
}

/*CARDS*/
.main_card {
    cursor: pointer;
    background-color: rgba(225,225,225,0.1);
    transition: background-color 0.5s;
}
.main_card:hover {
    background-color: rgba(225,225,225,0.4);;
}

.card {
    border-radius: 1rem;
    border: 1px solid transparent;
    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0,0,0,0.5);

    border-top-color: rgba(225,225,225,0.5);
    border-left-color: rgba(225,225,225,0.5);
    border-bottom-color: rgba(225,225,225,0.1);
    border-right-color: rgba(225,225,225,0.1);
}
.card-text {
    overflow: hidden;
}
/*TASKS*/
.task-card {
    cursor: pointer;
    background-color: rgba(225,225,225,0.1);
    transition: background-color 0.5s;
}
.task-card:hover {
    background-color: rgba(225,225,225,0.4);;
}

.task-lister {
    -ms-overflow-style: none;
    scrollbar-width: none; 
}
.task-lister::-webkit-scrollbar {
    display: none;
}
.task-text {
    height: 7vh;
    overflow:hidden;

}
