/*Here it will go main classes that can be reused along the application development*/


/*SIDE BAR*/
.side_bar {
    background-color: rgba(13, 74, 23, 0.793);
}
.sidebar-options {
    cursor: pointer;
}
.sidebar-options:hover {
    background-color: rgba(74, 74, 74, 0.754) ;
}
.sidebar-button {
    cursor: pointer;
    transition: transform 0.3s;
}
.sidebar-button:hover {
    transform: rotate(90deg);
}
.slide-enter-active {
    transition: all .5s;
}
.slide-leave-active {
    transition: all .5s cubic-bezier(0.2, 0.2, 0.2, 0.2);
}
.slide-enter, .slide-leave-to
{
    transform: translateX(-300px);
    opacity: 0;
}